:root {
  --asphalt: #3C425E;
  --white: #FFF;
  --midviolet: #888ACE;
  --lightviolet: #E4E8FC;
  --violet: #555ACB;
  --green: #0BC5CF;
  --gray: #C4C4C4;
  --lightgray: #F1F3FE;
  --orange: #FB8B1A;
}