.main {
  background-color: var(--lightgray);
  border-top: 1px solid var(--lightviolet);
  border-right: 1px solid var(--lightviolet);
  padding: 15px;
}

// *******************************************************

.swiper-container {
  width: 800px;
  height: 300px;
  border: 1px solid var(--midviolet);
  border-radius: 25px;
  background-color: var(--lightviolet);
}

.swiper-button-prev, 
.swiper-button-next {
  background-color: var(--lightgray);
  background-size: 20%;
  background-repeat: no-repeat;
  border-radius: 50%;  
  width: 80px !important;
  height: 80px !important;
  &::after {
    display: none;
  }
}

.swiper-button-prev {
  background-position: 80% center;
  background-image: url(../images/main/main_arrow_left.svg);  
}

.swiper-button-next {
  background-position: 20% center;
  background-image: url(../images/main/main_arrow_right.svg);
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  left: -42px !important;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  right: -42px !important;
}

.slide{
  color: var(--violet);
  font-weight: 500;
}

.slide__wrapper{
  padding: 15px 55px 15px 40px;
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.slide__title {
  font-size: 1.5rem;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}

.slide__text_wrapper{
  flex: 1 1 0;
  overflow: hidden;
}

.slide__text {  
  font-size: 1.1rem;
  line-height: 1.5em;  
  padding: 0 15px 5px 35px;
  text-align: justify;  
  text-indent: 20px;
}

.slide__link {
  display: block;
  margin-top: 15px;  
  text-align: center;
  font-size: 0.9rem;
  font-weight: 900;  
  letter-spacing: 0.2em;
  text-decoration: underline;
  &:hover{
    color: var(--orange);

  }
}

// *******************************************************
.events {
  color: var(--asphalt);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  div+div {
    margin-left: 15px;
  }
}

.events__item{
  width: 260px;
  height: 150px;
  background-color: var(--semiwhite);
  border: 1px solid var(--midviolet);
}

.events__wrapper_first{
  background-image: url(/images/main/main_1background.jpg);  
  background-repeat: no-repeat;
  background-size: cover;
}

.events__wrapper_second{  
  background-image: url(/images/main/main_2background.jpg);  
  background-repeat: no-repeat;
  background-size: cover;
}
.events__wrapper_therd{  
  background-image: url(/images/main/main_3background.jpg);  
  background-repeat: no-repeat;
  background-size: cover;
}

.events__item_title {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 2em;
  margin: 10px 0 0 15px;
  width: 90%;
  height: 35px;
  overflow: hidden;  
}

.events__item_content {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.25em;
  margin: 0 0 10px 15px;
  width: 90%;
  height: 40px; 
}

.events__item_time {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.25em;
  text-align: center;
  position: relative; 
  &::before { 
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 209px;
    height: 2px;
    background-color: var(--asphalt);
  }
}

.events__item_link{
  color: var(--asphalt);
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.25em;
  display: block;
  text-align: right;  
  margin: 10px 40px 0 0;   
  &:hover {
    color: var(--orange);
  } 
}

// *******************************************************
.main__contacts {
  background-color: var(--white);
  border: 1px solid var(--midviolet);
}

.main__contacts_title {
  color: var(--violet);
  font-weight: 500;
  font-size: 1.5rem;
  padding: 20px 0 30px 30px;
  position: relative;
  &::after {
    content: '';
    width: 250px;
    height: 1px;
    background-color: var(--violet);
    position: absolute;
    bottom: 10px;
    right: 0;
  }
}

.list {  
  li+li{
    margin-top: 10px;
  }
}

.list__item {
  cursor: pointer;
  color: var(--violet);
  border-bottom: 1px solid var(--lightviolet);
  transition: all 0.2s;
  border-radius: 5px;  
  margin: 0 10px 5px 25px; 
  &:hover{
    color: var(--white);
    background-color: var(--midviolet);
    transition: all 0.2s;
}
}

.list__item_link{
  position: relative;
}

.list__item_user-photo {
  width: 40px;
  margin: 5px;  
  border-radius: 50%;
}

.list__item_link.list__item_user-online{
  // указатель "в сети" на фото пользователя  
  &::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 15px;
    height: 15px;
    background-color: rgb(24, 240, 24);
    border: 1px solid var(--midviolet);
    border-radius: 50%;
  }
}

.list__item_user-name {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.list__item_user-level {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1em;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

// *******************************************************
.tab__wrapper {
  display: flex;
  color: var(--violet);
}

//* стили для кнопок 
.tab__buttons_wrapper {
  width: 290px;  
  background-color: var(--lightviolet);
  border: 1px solid var(--midviolet);
  .tab__button + .tab__button {
    margin-top: 5px;
  }
}

.tab__buttons_title {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding: 10px 0 20px 30px;
  position: relative;
  &::after {
    content: '';
    width: 250px;
    height: 1px;
    background-color: var(--violet);
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
  }  
}

.tab__button {
  width: 90%;
  margin: 0 auto;
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--midviolet);
  transition: all 0.2s;
  user-select: none;
  &:hover {
    background-color: var(--lightgray);
    transition: all 0.2s;
  }
}

.tab__button_title {
  font-size: 1.2rem;
  font-weight: 500;  
  letter-spacing: 0.2rem;
}

.tab__button_text {
  font-size: 0.95rem;
  font-weight: 500;
  padding: 5px 0 0 10px;
}

.tab__button_active {
  color: var(--white);
  background-color: var(--midviolet);
  transition: all 0.2s;
  &:hover{
    background-color: var(--midviolet);
  }
}

//* стили для содержимого вкладок 

.tab__content_wrapper {
  width: 550px;
  height: 250px;
  margin-right: 20px;
}

.tab__content {
  display: none;
  width: 100%;
  height: 100%;
  font-size: 15px; 
  line-height: 1.5em;
  padding: 10px 20px;
  background-color: var(--lightviolet);
  border: 1px solid var(--midviolet);
}

.tab__content_active {
  display: block;
}

.tab__content_text{
  font-size: 1rem;
  font-weight: 500;
  text-align: justify;
}