@import "start_settings";
@import "custom_properties";
@import "mixin";
@import "switch";
@import "header";
@import "aside";
@import "main";
@import "footer";

body {
  font-family: 'Roboto', "Arial", sans-serif;
  font-style: normal;
  font-size: 10px;
}

.container {
  width: 1500px;
  padding: 0 10px;
  margin: 0 auto;
}

.page {
  display: grid;
  grid-template-areas: "header header" "aside main" "footer footer";
  grid-template-columns: 280px 1fr;
  grid-template-rows: 80px 1fr 60px;
  min-height: 100vh;
}